main = #0562DC // jekyll
// sec  = #FFFFFF
// lightGray = #F2F2F2
// texts = #333333
// colorcode = #3085F4

accent = #3F51B5 // #FF4081
primary = main // #3F51B5
dark-primary = lighten(main, 50%) //#303F9F
light-primary = #C5CAE9
text = #FFFFFF
primary-text = #212121
secondary-text = #757575

html
    overflow-x hidden

section
    background #eee

.timeline-content
    top 21px
    h2
        font-family sans-serif
        font-size 35px
        margin-top 20px
        margin-bottom 10px
        font-weight 500
        line-height 1.1

.timeline
    margin auto
    width 80%
    position relative
    &::before
        content ''
        background light-primary
        width 5px
        height 100%
        position absolute
        left 50%
        transform translateX(-50%)

.timeline-item
    width 100%
    margin-bottom 70px
    &:nth-child(even)
        .timeline-content
            float right
            padding 40px 30px 10px 30px
            .date
                right auto
                left 0
            &::after
                content ''
                position absolute
                border-style solid
                width 0
                height 0
                top 10px
                left -15px
                border-width 10px 15px 10px 0
                border-color transparent #f5f5f5 transparent transparent
    &::after
        content ''
        display block
        clear both

.timeline-content
    position relative
    width 45%
    padding 10px 30px
    border-radius 4px
    background #f5f5f5
    box-shadow 0 20px 25px -15px rgba(0, 0, 0, .3)
    ul
        margin-left 3%
    &::after
        content ''
        position absolute
        border-style solid
        width 0
        height 0
        top 10px
        right -15px
        border-width 10px 0 10px 15px
        border-color transparent transparent transparent #f5f5f5
    blockquote
        margin-top 30px
        color secondary-text
        border-left 4px solid primary
        padding 0 20px
        font-size 23px
        font-weight 600
    .date
        background accent
        display inline-block
        color text
        padding 10px
        position absolute
        top 0
        right 0
        z-index 1000


.timeline
    a.bnt-more
        background primary
        color text
        padding 8px 20px
        text-transform uppercase
        font-size 14px
        margin-bottom 20px
        margin-top 10px
        display inline-block
        border-radius 2px
        box-shadow 0 1px 3px -1px rgba(0, 0, 0, .6)
        text-decoration none
        &:hover, &:active, &:focus
            background darken(primary, 10%)
            color text
            text-decoration none


.timeline-img
    width 30px
    height 30px
    background primary
    border-radius 50%
    position absolute
    left 50%
    margin-top 25px
    margin-left -15px

.timeline-card
    padding 0!important
    p
        padding 0 20px
    a.bnt-more
        margin-left 20px

.timeline-item
    .timeline-img-header
        //background url('https://picsum.photos/1000/800/?random')
        background-position center
        background-size cover
        background-repeat no-repeat
        &.my-first-computer
            background-image url('../img/first-computer.jpg')
            background-size contain
            background-color white
        &.wind-turbines
            background-image url('../img/wind-turbines.jpg')
            background-size cover
            background-color white
        &.graphic-calculator
            background-image url('../img/graphic-calculator.png')
            background-size contain
            background-color black
        &.csharp-course
            background-image url('../img/csharp-course.jpg')
            background-size contain
            background-color white
        &.hacker
            background-image url('../img/hacker.jpg')
            background-size contain
            background-color black
        &.computer-science-part-1
            background-image url('../img/computer-science-part-1.jpg')
            background-size contain
            background-color black
        &.computer-science-part-2
            background-image url('../img/computer-science-part-2.jpg')
            background-size contain
            background-color black
        &.assembly-parser
            background-image url('../img/assembly-parser.png')
            background-size cover
            background-color black
        &.the-path-to-ufrgs
            background-image url('../img/the-path-to-ufrgs.jpg')
            background-size cover
            background-color white
        &.student-to-business
            background-image url('../img/student-to-business.png')
            background-size contain
            background-color white
            background-position top
        &.hcl-part-1
            background-image url('../img/hcl-part-1.jpg')
            background-size contain
            background-color white
        &.hcl-part-2
            background-image url('../img/hcl-part-2.jpg')
            background-size cover
            background-color black
        &.keyboard
            background-image url('../img/keyboard.png')
            background-size cover
            background-color white
        &.dev-at-hcl
            background-image url('../img/dev-at-hcl.jpg')
            background-size cover
            background-color white
        &.ufrgs
            background-image url('../img/ufrgs.png')
            background-size contain
            background-color white
        &.unity-game
            background-image url('../img/unity-game.jpg')
            background-size cover
            background-color white
        &.batman
            background-image url('../img/batman.png')
            background-size contain
            background-color white
        &.snake-game
            background-image url('../img/snake-game.jpg')
            background-size contain
            background-color black
        &.fft
            background-image url('../img/fft.jpg')
            background-size cover
            background-color black
        &.organic-chemistry
            background-image url('../img/organic-chemistry.jpg')
            background-size cover
            background-color black
        &.site-visit
            background-image url('../img/site-visit-light.jpg')
            background-size cover
            background-color black
        &.manim
            background-image url('../img/manim.png')
            background-size contain
            background-color black
        &.lxml
            background-image url('../img/lxml.png')
            background-size contain
            background-color white
        &.minuanos
            background-image url('../img/minuanos.jpg')
            background-size cover
            background-color white
        &.cfd-api
            background-image url('../img/cfd-api.jpg')
            background-size cover
            background-color white
        &.windfarmer
            background-image url('../img/windfarmer.jpg')
            background-size cover
            background-color white
        &.wind-europe
            background-image url('../img/wind-europe.jpg')
            background-size contain
            background-color white
        &.rust
            background-image url('../img/rust.png')
            background-size contain
            background-color white


.timeline-item
    .timeline-img-header
        background-image url('https://picsum.photos/1000/800/?random')

.timeline-img-header
    height 200px
    position relative
    margin-bottom 20px
    h2
        position absolute
        bottom 5px
        left 20px

@media screen and (max-width 768px)
    .timeline
        width 100%
        &::before
            left 21px

        .timeline-img
            left 20px

        .timeline-content
            max-width 100%
            width auto
            margin-left 53px

        .timeline-item
            &:nth-child(even)
                .timeline-content
                    float none
            &:nth-child(odd)
                .timeline-content
                    &::after
                        content ''
                        position absolute
                        border-style solid
                        width 0
                        height 0
                        top 10px
                        left -15px
                        border-width 10px 15px 10px 0
                        border-color transparent #f5f5f5 transparent transparent

